/* ==================
          文本
 ==================== */
 /* 
 mn:8px
 xs:10px
 sm:12px--
 df:14px
 lg:16px--
 xl:18px
 xxl:22px
 sl:40px
 xsl:60px
  
  */
 
/* 大小 */



.text-mn{
	font-size: 8px;
}
.text-xs {
	font-size: 10px;
}

.text-sm {
	font-size: 12px;
}

.text-df {
	font-size: 14px;
}

.text-lg {
	font-size: 16px;
}

.text-xl {
	font-size: 18px;
}

.text-xxl {
	font-size: 22px;
}

.text-sl {
	font-size: 40px;
}

.text-xsl {
	font-size: 60px;
}
/* 大写小写 */
.text-Abc {
	text-transform: Capitalize;
}

.text-ABC {
	text-transform: Uppercase;
}

.text-abc {
	text-transform: Lowercase;
}
/* 价格 */
.text-price::before {
	content: "¥";
	font-size: 80%;
	margin-right: 4px;
}
/* 省略 */
.text-cut {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
/* 粗体 */
.text-bold {
	font-weight: bold;
}

/* 文本位置 */
.text-center {
	text-align: center;
}

.text-content {
	line-height: 1.6;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-red,
.line-red,
.lines-red {
	color: #e54d42;
}

.text-orange,
.line-orange,
.lines-orange {
	color: #f37b1d;
}

.text-yellow,
.line-yellow,
.lines-yellow {
	color: #fbbd08;
}

.text-olive,
.line-olive,
.lines-olive {
	color: #8dc63f;
}

.text-green,
.line-green,
.lines-green {
	color: #39b54a;
}

.text-cyan,
.line-cyan,
.lines-cyan {
	color: #30e3ca;
}

.text-blue,
.line-blue,
.lines-blue {
	color: #2f89fc;
}

.text-purple,
.line-purple,
.lines-purple {
	color: #6739b6;
}

.text-mauve,
.line-mauve,
.lines-mauve {
	color: #9c26b0;
}

.text-pink,
.line-pink,
.lines-pink {
	color: #e03997;
}

.text-brown,
.line-brown,
.lines-brown {
	color: #a5673f;
}

.text-grey,
.line-grey,
.lines-grey {
	color: #8799a3;
}

.text-gray,
.line-gray,
.lines-gray {
	color: #aaaaaa;
}

.text-black,
.line-black,
.lines-black {
	color: #333333;
}

.text-white,
.line-white,
.lines-white {
	color: #ffffff;
}

/* 行高 */
.line-height-xs {
	line-height: 1;
}
.line-height-sm{
	line-height: 1.5;
}